
.icon-instagram:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
